body{
  background-image: url(DSCF4672.jpg);
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center{
  position: fixed;
  width: 1200px;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.center > p{
  font-size: 12px;
  font-family: Arial, serif;
  text-align: center;
  width: 100%;
  padding-top: 10%;
}
.wrapper{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper > img{
  width: 100%;
  height: auto;
  margin-top: -50px;
}
