body{
  background-image: url(http://moheban-ahlebeit.com/images/Google-Nexus-Backgrounds/Google-Nexus-Backgrounds-21.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}

.pigGame {
  display: block;
  height: 100%;
  width: 100%;
}

.pigGame > a > .pigGameScreenshot {
  max-width: 50%;
  height: auto;
  margin-left: 1%;
  float: left;
  margin-right: 5%;
  box-shadow: 10px 10px 5px #888888;
}

.pigGame > .pigGameTitle {
  font-family: Impact, serif;
  font-size: 50px;
  font-weight: bold;
}

.pigGame > p {
  float: left;
  max-width: 40%;
  height: auto;
  font-family: 'Libre Baskerville', serif;
  font-size: 25px;
  font-weight: bold;
}

.replay {
  clear: both;
  display: block;
  height: 100%;
}
