body{
  background-image: url(DSC_3066.jpg);
  width: 100%;
  background-size: cover;
}

.social-related {
  position: fixed;
  top: 40%;
  left: 60%;
  font-size: 60px;
}

.email {
  position: fixed;
  top: 40%;
  left: 10%;
  font-family: Arial, serif;
  font-size: 15px;
  color: white;
  background: black;
  padding: 0 10px 0 10px;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: auto;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

a{
  text-decoration: none;
}
